openapi: 3.0.1
info:
  title: Census Management Connectors API
  description: The Census Management API lets you integrate core Census reverse ETL and data activation functionality into your workflows. Manage sources, destinations, syncs, sync runs, datasets/models, connectors, and Audience Hub segments. Requests are authenticated with a workspace API access token passed as a Bearer token in the Authorization header. This is a faithful, representative specification of the public Census Management API; consult the Census API reference for the authoritative and complete schema.
  termsOfService: https://www.getcensus.com/terms
  contact:
    name: Census Support
    url: https://developers.getcensus.com
  version: '1.0'
servers:
- url: https://app.getcensus.com/api/v1
  description: Census Management API (region-specific base URL may vary)
security:
- bearerAuth: []
tags:
- name: Connectors
paths:
  /connectors:
    get:
      operationId: listConnectors
      tags:
      - Connectors
      summary: List connectors
      description: Lists the connector services Census supports.
      responses:
        '200':
          description: A list of connector services.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorList'
  /connectors/{service_name}/object_types:
    get:
      operationId: listDestinationObjectTypes
      tags:
      - Connectors
      summary: List destination object types
      description: Lists the object types available for a given destination connector service (for example salesforce, hubspot, google_ads).
      parameters:
      - name: service_name
        in: path
        required: true
        description: The connector service name, e.g. salesforce.
        schema:
          type: string
      responses:
        '200':
          description: A list of object types for the service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTypeList'
components:
  schemas:
    ObjectTypeList:
      type: object
      properties:
        status:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/ObjectType'
    ObjectType:
      type: object
      properties:
        label:
          type: string
          example: Lead
        full_name:
          type: string
          example: lead
        allows_custom_fields:
          type: boolean
    Connector:
      type: object
      properties:
        service_name:
          type: string
          example: salesforce
        label:
          type: string
          example: Salesforce
    ConnectorList:
      type: object
      properties:
        status:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Connector'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Workspace API access token passed as a Bearer token.
